# Student Loan Risk with Deep Learning

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

2023-08-29 11:02:44.663016: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student_loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [2]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/mbc/ai/m6/datasets/student_loans.csv"


# Review the DataFrame
df = pd.read_csv(file_path)
df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [3]:
# Review the data types associated with the columns
df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [4]:
# Define the target set y using the credit_ranking column
y = df["credit_ranking"]

# Display a sample of y
y

0       5
1       5
2       5
3       6
4       5
       ..
1594    5
1595    6
1596    6
1597    5
1598    6
Name: credit_ranking, Length: 1599, dtype: int64

In [5]:
# Define features set X by selecting all columns but credit_ranking
X = df.drop(columns="credit_ranking")

# Review the features DataFrame
X.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [6]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
# X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [7]:
# Create a StandardScaler instance
X_scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [8]:
# Define the the number of inputs (features) to the model
# two-deep neural network: input layer, hidden layer 1, hidden layer 2, 1 output layer
# there are 11 features and 1 output in the data
# inputs and hidden nodes
number_inputs = 11

# create a sequential neural network
# Review the number of features
X.shape[1]

11

In [9]:
# Define the number of neurons in the output layer
number_outputs = 1

In [10]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = 6


# Review the number hidden nodes in the first layer

In [11]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = 3

# Review the number hidden nodes in the second layer

In [12]:
# Create the Sequential model instance
nn = Sequential()

In [13]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_inputs, activation="relu"))

In [14]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [15]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_outputs, activation="linear"))

In [16]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 6)                 72

 dense_1 (Dense)             (None, 3)                 21

 dense_2 (Dense)             (None, 1)                 4

=================================================================
Total params: 97 (388.00 Byte)
Trainable params: 97 (388.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Compile and fit the model using the `mse` loss function, the `adam` optimizer, and the `mse` evaluation metric.

In [17]:
# Compile the Sequential model
nn.compile(loss="mean_squared_error", optimizer="adam", metrics=["mse"])

In [18]:
# Fit the model using 100 epochs and the training data
student_loan_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100

38/38 [==============================] - 1s 2ms/step - loss: 32.3672 - mse: 32.3672
Epoch 2/100
38/38 [==============================] - 0s 2ms/step - loss: 30.4258 - mse: 30.4258
Epoch 3/100
38/38 [==============================] - 0s 2ms/step - loss: 28.4137 - mse: 28.4137
Epoch 4/100
38/38 [==============================] - 0s 3ms/step - loss: 26.1632 - mse: 26.1632
Epoch 5/100
38/38 [==============================] - 0s 2ms/step - loss: 23.7645 - mse: 23.7645
Epoch 6/100
38/38 [==============================] - 0s 2ms/step - loss: 21.4317 - mse: 21.4317
Epoch 7/100
38/38 [==============================] - 0s 1ms/step - loss: 19.2733 - mse: 19.2733
Epoch 8/100
38/38 [==============================] - 0s 2ms/step - loss: 17.1528 - mse: 17.1528
Epoch 9/100
38/38 [==============================] - 0s 2ms/step - loss: 14.7975 - mse: 14.7975
Epoch 10/100
38/38 [==============================] - 0s 2ms/step - loss: 12.3752 - mse: 12.3752
Epoch 11/100
38/38 [==============================] - 0s 1ms/step - loss: 10.1874 - mse: 10.1874
Epoch 12/100
38/38 [==============================] - 0s 1ms/step - loss: 8.1089 - mse: 8.1089
Epoch 13/100
38/38 [==============================] - 0s 1ms/step - loss: 6.1655 - mse: 6.1655
Epoch 14/100
38/38 [==============================] - 0s 2ms/step - loss: 4.6054 - mse: 4.6054
Epoch 15/100
38/38 [==============================] - 0s 2ms/step - loss: 3.5392 - mse: 3.5392
Epoch 16/100
38/38 [==============================] - 0s 2ms/step - loss: 2.9094 - mse: 2.9094
Epoch 17/100
38/38 [==============================] - 0s 2ms/step - loss: 2.5175 - mse: 2.5175
Epoch 18/100
38/38 [==============================] - 0s 1ms/step - loss: 2.2580 - mse: 2.2580
Epoch 19/100
38/38 [==============================] - 0s 1ms/step - loss: 2.0644 - mse: 2.0644
Epoch 20/100
38/38 [==============================] - 0s 1ms/step - loss: 1.9026 - mse: 1.9026
Epoch 21/100
38/38 [==============================] - 0s 2ms/step - loss: 1.7721 - mse: 1.7721
Epoch 22/100
38/38 [==============================] - 0s 2ms/step - loss: 1.6517 - mse: 1.6517
Epoch 23/100
38/38 [==============================] - 0s 3ms/step - loss: 1.5434 - mse: 1.5434
Epoch 24/100
38/38 [==============================] - 0s 3ms/step - loss: 1.4420 - mse: 1.4420
Epoch 25/100
38/38 [==============================] - 0s 2ms/step - loss: 1.3532 - mse: 1.3532
Epoch 26/100
38/38 [==============================] - 0s 2ms/step - loss: 1.2715 - mse: 1.2715
Epoch 27/100
38/38 [==============================] - 0s 2ms/step - loss: 1.1980 - mse: 1.1980
Epoch 28/100
38/38 [==============================] - 0s 2ms/step - loss: 1.1325 - mse: 1.1325
Epoch 29/100
38/38 [==============================] - 0s 2ms/step - loss: 1.0750 - mse: 1.0750
Epoch 30/100
38/38 [==============================] - 0s 2ms/step - loss: 1.0232 - mse: 1.0232
Epoch 31/100
38/38 [==============================] - 0s 2ms/step - loss: 0.9749 - mse: 0.9749
Epoch 32/100
38/38 [==============================] - 0s 2ms/step - loss: 0.9302 - mse: 0.9302
Epoch 33/100
38/38 [==============================] - 0s 1ms/step - loss: 0.8920 - mse: 0.8920
Epoch 34/100
38/38 [==============================] - 0s 1ms/step - loss: 0.8548 - mse: 0.8548
Epoch 35/100
38/38 [==============================] - 0s 1ms/step - loss: 0.8215 - mse: 0.8215
Epoch 36/100
38/38 [==============================] - 0s 1ms/step - loss: 0.7914 - mse: 0.7914
Epoch 37/100
38/38 [==============================] - 0s 1ms/step - loss: 0.7635 - mse: 0.7635
Epoch 38/100
38/38 [==============================] - 0s 1ms/step - loss: 0.7363 - mse: 0.7363
Epoch 39/100
38/38 [==============================] - 0s 1ms/step - loss: 0.7151 - mse: 0.7151
Epoch 40/100
38/38 [==============================] - 0s 3ms/step - loss: 0.6930 - mse: 0.6930
Epoch 41/100
38/38 [==============================] - 0s 2ms/step - loss: 0.6707 - mse: 0.6707
Epoch 42/100
38/38 [==============================] - 0s 1ms/step - loss: 0.6526 - mse: 0.6526
Epoch 43/100
38/38 [==============================] - 0s 1ms/step - loss: 0.6340 - mse: 0.6340
Epoch 44/100
38/38 [==============================] - 0s 1ms/step - loss: 0.6188 - mse: 0.6188
Epoch 45/100
38/38 [==============================] - 0s 1ms/step - loss: 0.6013 - mse: 0.6013
Epoch 46/100
38/38 [==============================] - 0s 1ms/step - loss: 0.5849 - mse: 0.5849
Epoch 47/100
38/38 [==============================] - 0s 1ms/step - loss: 0.5693 - mse: 0.5693
Epoch 48/100
38/38 [==============================] - 0s 1ms/step - loss: 0.5547 - mse: 0.5547
Epoch 49/100
38/38 [==============================] - 0s 1ms/step - loss: 0.5426 - mse: 0.5426
Epoch 50/100
38/38 [==============================] - 0s 1ms/step - loss: 0.5298 - mse: 0.5298
Epoch 51/100
38/38 [==============================] - 0s 1ms/step - loss: 0.5196 - mse: 0.5196
Epoch 52/100
38/38 [==============================] - 0s 1ms/step - loss: 0.5099 - mse: 0.5099
Epoch 53/100
38/38 [==============================] - 0s 1ms/step - loss: 0.5025 - mse: 0.5025
Epoch 54/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4955 - mse: 0.4955
Epoch 55/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4863 - mse: 0.4863
Epoch 56/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4767 - mse: 0.4767
Epoch 57/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4688 - mse: 0.4688
Epoch 58/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4642 - mse: 0.4642
Epoch 59/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4576 - mse: 0.4576
Epoch 60/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4510 - mse: 0.4510
Epoch 61/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4464 - mse: 0.4464
Epoch 62/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4425 - mse: 0.4425
Epoch 63/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4375 - mse: 0.4375
Epoch 64/100
38/38 [==============================] - 0s 2ms/step - loss: 0.4359 - mse: 0.4359
Epoch 65/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4316 - mse: 0.4316
Epoch 66/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4293 - mse: 0.4293
Epoch 67/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4268 - mse: 0.4268
Epoch 68/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4247 - mse: 0.4247
Epoch 69/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4237 - mse: 0.4237
Epoch 70/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4217 - mse: 0.4217
Epoch 71/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4201 - mse: 0.4201
Epoch 72/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4180 - mse: 0.4180
Epoch 73/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4172 - mse: 0.4172
Epoch 74/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4154 - mse: 0.4154
Epoch 75/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4124 - mse: 0.4124
Epoch 76/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4110 - mse: 0.4110
Epoch 77/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4107 - mse: 0.4107
Epoch 78/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4098 - mse: 0.4098
Epoch 79/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4086 - mse: 0.4086
Epoch 80/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4069 - mse: 0.4069
Epoch 81/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4069 - mse: 0.4069
Epoch 82/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4058 - mse: 0.4058
Epoch 83/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4045 - mse: 0.4045
Epoch 84/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4030 - mse: 0.4030
Epoch 85/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4023 - mse: 0.4023
Epoch 86/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4019 - mse: 0.4019
Epoch 87/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4000 - mse: 0.4000
Epoch 88/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4001 - mse: 0.4001
Epoch 89/100
38/38 [==============================] - 0s 1ms/step - loss: 0.3998 - mse: 0.3998
Epoch 90/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4002 - mse: 0.4002
Epoch 91/100
38/38 [==============================] - 0s 1ms/step - loss: 0.3987 - mse: 0.3987
Epoch 92/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4000 - mse: 0.4000
Epoch 93/100
38/38 [==============================] - 0s 1ms/step - loss: 0.3988 - mse: 0.3988
Epoch 94/100
38/38 [==============================] - 0s 1ms/step - loss: 0.3989 - mse: 0.3989
Epoch 95/100
38/38 [==============================] - 0s 1ms/step - loss: 0.3985 - mse: 0.3985
Epoch 96/100
38/38 [==============================] - 0s 1ms/step - loss: 0.3973 - mse: 0.3973
Epoch 97/100
38/38 [==============================] - 0s 1ms/step - loss: 0.3963 - mse: 0.3963
Epoch 98/100
38/38 [==============================] - 0s 3ms/step - loss: 0.3968 - mse: 0.3968
Epoch 99/100
38/38 [==============================] - 0s 1ms/step - loss: 0.3945 - mse: 0.3945
Epoch 100/100
38/38 [==============================] - 0s 1ms/step - loss: 0.3942 - mse: 0.3942

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [20]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

13/13 - 0s - loss: 0.4082 - mse: 0.4082 - 53ms/epoch - 4ms/step
Loss: 0.408203661441803, Accuracy: 0.408203661441803

### Step 4: Save and export your model to an HDF5 file, and name the file `student_loans.h5`.

In [21]:
# Set the model's file path
file_path = Path("saved_models/student_loans.h5")


# Export your model to a HDF5 file
nn.save(file_path)

/Users/rstanbaugh/.pyenv/versions/3.10.2/lib/python3.10/site-packages/keras/src/engine/training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [22]:
# Set the model's file path
file_path = Path("./saved_models/student_loans.h5")


# Load the model to a new object
nn_imported = tf.keras.models.load_model(file_path)

### Step 2: Make predictions on the testing data.

In [23]:
# Make predictions on the testing data
predictions = (nn_imported.predict(X_test_scaled)).round().astype("int32")

13/13 [==============================] - 0s 1ms/step

In [24]:
predictions[:10]

array([[5],
       [5],
       [6],
       [6],
       [7],
       [6],
       [6],
       [4],
       [6],
       [5]], dtype=int32)

In [ ]:
predictions.ravel()

### Step 3: Create a DataFrame to compare the predictions with the actual values.

In [25]:
# Create a DataFrame to compare the predictions with the actual values
results = pd.DataFrame({"predictions": predictions.ravel(), "actual": y_test})

### Step 4: Display a sample of the DataFrame you created in step 3.

In [26]:
# Display sample data
results.head(10)

      predictions  actual
75              5       5
1283            5       6
408             6       6
1281            6       6
1118            7       6
1143            6       6
1215            6       6
181             4       5
1186            6       5
1252            5       5