# Student Loan Risk with Deep Learning

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

2023-08-28 12:51:11.440286: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student_loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [2]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/mbc/ai/m6/datasets/student_loans.csv"


# Review the DataFrame
df = pd.read_csv(file_path)
df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [3]:
# Review the data types associated with the columns
df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [4]:
# Define the target set y using the credit_ranking column
y = df["credit_ranking"]

# Display a sample of y
y.head()

0    5
1    5
2    5
3    6
4    5
Name: credit_ranking, dtype: int64

In [5]:
# Define features set X by selecting all columns but credit_ranking
X = df.drop(columns="credit_ranking")

# Review the features DataFrame
X.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [6]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [7]:
# Create a StandardScaler instance
X_scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [8]:
# Define the the number of inputs (features) to the model
# two-deep neural network: input layer, hidden layer 1, hidden layer 2, 1 output layer
# there are 11 features and 1 output in the data
# inputs and hidden nodes
number_inputs = 11

# create a sequential neural network
# Review the number of features
X.shape[1]

11

In [9]:
# Define the number of neurons in the output layer
number_outputs = 1

In [10]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = 8


# Review the number hidden nodes in the first layer

In [11]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = 4

# Review the number hidden nodes in the second layer

In [12]:
# Create the Sequential model instance
nn = Sequential()

In [13]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_inputs, activation="relu"))

In [14]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [15]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_outputs, activation="linear"))

In [16]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 96

 dense_1 (Dense)             (None, 4)                 36

 dense_2 (Dense)             (None, 1)                 5

=================================================================
Total params: 137 (548.00 Byte)
Trainable params: 137 (548.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Compile and fit the model using the `mse` loss function, the `adam` optimizer, and the `mse` evaluation metric.

In [17]:
# Compile the Sequential model
nn.compile(loss="mean_squared_error", optimizer="adam", metrics=["mse"])

In [19]:
# Fit the model using 50 epochs and the training data
student_loan_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
38/38 [==============================] - 1s 3ms/step - loss: 24.5109 - mse: 24.5109
Epoch 2/100
38/38 [==============================] - 0s 3ms/step - loss: 18.1466 - mse: 18.1466
Epoch 3/100
38/38 [==============================] - 0s 3ms/step - loss: 12.7143 - mse: 12.7143
Epoch 4/100
38/38 [==============================] - 0s 2ms/step - loss: 8.5933 - mse: 8.5933
Epoch 5/100
38/38 [==============================] - 0s 2ms/step - loss: 5.9501 - mse: 5.9501
Epoch 6/100
38/38 [==============================] - 0s 2ms/step - loss: 4.6597 - mse: 4.6597
Epoch 7/100
38/38 [==============================] - 0s 2ms/step - loss: 4.0391 - mse: 4.0391
Epoch 8/100
38/38 [==============================] - 0s 2ms/step - loss: 3.6513 - mse: 3.6513
Epoch 9/100
38/38 [==============================] - 0s 2ms/step - loss: 3.3479 - mse: 3.3479
Epoch 10/100
38/38 [==============================] - 0s 2ms/step - loss: 3.1045 - mse: 3.1045
Epoch 11/100
38/38 [==============================] - 0s 2ms/step - loss: 2.8832 - mse: 2.8832
Epoch 12/100
38/38 [==============================] - 0s 1ms/step - loss: 2.6936 - mse: 2.6936
Epoch 13/100
38/38 [==============================] - 0s 2ms/step - loss: 2.5260 - mse: 2.5260
Epoch 14/100
38/38 [==============================] - 0s 1ms/step - loss: 2.3758 - mse: 2.3758
Epoch 15/100
38/38 [==============================] - 0s 1ms/step - loss: 2.2398 - mse: 2.2398
Epoch 16/100
38/38 [==============================] - 0s 3ms/step - loss: 2.1116 - mse: 2.1116
Epoch 17/100
38/38 [==============================] - 0s 1ms/step - loss: 1.9968 - mse: 1.9968
Epoch 18/100
38/38 [==============================] - 0s 1ms/step - loss: 1.8887 - mse: 1.8887
Epoch 19/100
38/38 [==============================] - 0s 1ms/step - loss: 1.7892 - mse: 1.7892
Epoch 20/100
38/38 [==============================] - 0s 1ms/step - loss: 1.6965 - mse: 1.6965
Epoch 21/100
38/38 [==============================] - 0s 1ms/step - loss: 1.6135 - mse: 1.6135
Epoch 22/100
38/38 [==============================] - 0s 1ms/step - loss: 1.5346 - mse: 1.5346
Epoch 23/100
38/38 [==============================] - 0s 1ms/step - loss: 1.4595 - mse: 1.4595
Epoch 24/100
38/38 [==============================] - 0s 1ms/step - loss: 1.3900 - mse: 1.3900
Epoch 25/100
38/38 [==============================] - 0s 1ms/step - loss: 1.3250 - mse: 1.3250
Epoch 26/100
38/38 [==============================] - 0s 1ms/step - loss: 1.2642 - mse: 1.2642
Epoch 27/100
38/38 [==============================] - 0s 1ms/step - loss: 1.2102 - mse: 1.2102
Epoch 28/100
38/38 [==============================] - 0s 1ms/step - loss: 1.1594 - mse: 1.1594
Epoch 29/100
38/38 [==============================] - 0s 1ms/step - loss: 1.1123 - mse: 1.1123
Epoch 30/100
38/38 [==============================] - 0s 1ms/step - loss: 1.0668 - mse: 1.0668
Epoch 31/100
38/38 [==============================] - 0s 1ms/step - loss: 1.0264 - mse: 1.0264
Epoch 32/100
38/38 [==============================] - 0s 1ms/step - loss: 0.9894 - mse: 0.9894
Epoch 33/100
38/38 [==============================] - 0s 1ms/step - loss: 0.9555 - mse: 0.9555
Epoch 34/100
38/38 [==============================] - 0s 1ms/step - loss: 0.9219 - mse: 0.9219
Epoch 35/100
38/38 [==============================] - 0s 1ms/step - loss: 0.8913 - mse: 0.8913
Epoch 36/100
38/38 [==============================] - 0s 1ms/step - loss: 0.8641 - mse: 0.8641
Epoch 37/100
38/38 [==============================] - 0s 1ms/step - loss: 0.8358 - mse: 0.8358
Epoch 38/100
38/38 [==============================] - 0s 1ms/step - loss: 0.8117 - mse: 0.8117
Epoch 39/100
38/38 [==============================] - 0s 1ms/step - loss: 0.7892 - mse: 0.7892
Epoch 40/100
38/38 [==============================] - 0s 1ms/step - loss: 0.7680 - mse: 0.7680
Epoch 41/100
38/38 [==============================] - 0s 1ms/step - loss: 0.7464 - mse: 0.7464
Epoch 42/100
38/38 [==============================] - 0s 1ms/step - loss: 0.7211 - mse: 0.7211
Epoch 43/100
38/38 [==============================] - 0s 1ms/step - loss: 0.7018 - mse: 0.7018
Epoch 44/100
38/38 [==============================] - 0s 2ms/step - loss: 0.6848 - mse: 0.6848
Epoch 45/100
38/38 [==============================] - 0s 1ms/step - loss: 0.6689 - mse: 0.6689
Epoch 46/100
38/38 [==============================] - 0s 1ms/step - loss: 0.6520 - mse: 0.6520
Epoch 47/100
38/38 [==============================] - 0s 1ms/step - loss: 0.6378 - mse: 0.6378
Epoch 48/100
38/38 [==============================] - 0s 1ms/step - loss: 0.6269 - mse: 0.6269
Epoch 49/100
38/38 [==============================] - 0s 1ms/step - loss: 0.6105 - mse: 0.6105
Epoch 50/100
38/38 [==============================] - 0s 1ms/step - loss: 0.6001 - mse: 0.6001
Epoch 51/100
38/38 [==============================] - 0s 1ms/step - loss: 0.5868 - mse: 0.5868
Epoch 52/100
38/38 [==============================] - 0s 1ms/step - loss: 0.5770 - mse: 0.5770
Epoch 53/100
38/38 [==============================] - 0s 1ms/step - loss: 0.5683 - mse: 0.5683
Epoch 54/100
38/38 [==============================] - 0s 2ms/step - loss: 0.5581 - mse: 0.5581
Epoch 55/100
38/38 [==============================] - 0s 4ms/step - loss: 0.5483 - mse: 0.5483
Epoch 56/100
38/38 [==============================] - 0s 4ms/step - loss: 0.5396 - mse: 0.5396
Epoch 57/100
38/38 [==============================] - 0s 2ms/step - loss: 0.5308 - mse: 0.5308
Epoch 58/100
38/38 [==============================] - 0s 2ms/step - loss: 0.5233 - mse: 0.5233
Epoch 59/100
38/38 [==============================] - 0s 2ms/step - loss: 0.5175 - mse: 0.5175
Epoch 60/100
38/38 [==============================] - 0s 2ms/step - loss: 0.5101 - mse: 0.5101
Epoch 61/100
38/38 [==============================] - 0s 1ms/step - loss: 0.5044 - mse: 0.5044
Epoch 62/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4991 - mse: 0.4991
Epoch 63/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4956 - mse: 0.4956
Epoch 64/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4901 - mse: 0.4901
Epoch 65/100
38/38 [==============================] - 0s 3ms/step - loss: 0.4857 - mse: 0.4857
Epoch 66/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4807 - mse: 0.4807
Epoch 67/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4802 - mse: 0.4802
Epoch 68/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4745 - mse: 0.4745
Epoch 69/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4706 - mse: 0.4706
Epoch 70/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4697 - mse: 0.4697
Epoch 71/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4633 - mse: 0.4633
Epoch 72/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4611 - mse: 0.4611
Epoch 73/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4604 - mse: 0.4604
Epoch 74/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4580 - mse: 0.4580
Epoch 75/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4557 - mse: 0.4557
Epoch 76/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4522 - mse: 0.4522
Epoch 77/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4512 - mse: 0.4512
Epoch 78/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4505 - mse: 0.4505
Epoch 79/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4494 - mse: 0.4494
Epoch 80/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4469 - mse: 0.4469
Epoch 81/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4463 - mse: 0.4463
Epoch 82/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4439 - mse: 0.4439
Epoch 83/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4437 - mse: 0.4437
Epoch 84/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4395 - mse: 0.4395
Epoch 85/100
38/38 [==============================] - 0s 2ms/step - loss: 0.4381 - mse: 0.4381
Epoch 86/100
38/38 [==============================] - 0s 2ms/step - loss: 0.4384 - mse: 0.4384
Epoch 87/100
38/38 [==============================] - 0s 2ms/step - loss: 0.4364 - mse: 0.4364
Epoch 88/100
38/38 [==============================] - 0s 2ms/step - loss: 0.4348 - mse: 0.4348
Epoch 89/100
38/38 [==============================] - 0s 2ms/step - loss: 0.4335 - mse: 0.4335
Epoch 90/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4318 - mse: 0.4318
Epoch 91/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4299 - mse: 0.4299
Epoch 92/100
38/38 [==============================] - 0s 2ms/step - loss: 0.4328 - mse: 0.4328
Epoch 93/100
38/38 [==============================] - 0s 2ms/step - loss: 0.4286 - mse: 0.4286
Epoch 94/100
38/38 [==============================] - 0s 2ms/step - loss: 0.4256 - mse: 0.4256
Epoch 95/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4268 - mse: 0.4268
Epoch 96/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4252 - mse: 0.4252
Epoch 97/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4261 - mse: 0.4261
Epoch 98/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4242 - mse: 0.4242
Epoch 99/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4213 - mse: 0.4213
Epoch 100/100
38/38 [==============================] - 0s 1ms/step - loss: 0.4205 - mse: 0.4205

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [23]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

13/13 - 0s - loss: 0.4315 - mse: 0.4315 - 49ms/epoch - 4ms/step
Loss: 0.43151554465293884, Accuracy: 0.43151554465293884

### Step 4: Save and export your model to an HDF5 file, and name the file `student_loans.h5`.

In [24]:
# Set the model's file path
file_path = Path("saved_models/student_loans.h5")


# Export your model to a HDF5 file
nn.save(file_path)

/Users/rstanbaugh/.pyenv/versions/3.10.2/lib/python3.10/site-packages/keras/src/engine/training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [21]:
# Set the model's file path


# Load the model to a new object

### Step 2: Make predictions on the testing data.

In [22]:
# Make predictions on the testing data

13/13 [==============================] - 0s 678us/step

### Step 3: Create a DataFrame to compare the predictions with the actual values.

In [23]:
# Create a DataFrame to compare the predictions with the actual values

### Step 4: Display a sample of the DataFrame you created in step 3.

In [24]:
# Display sample data

   predictions  actual
0            5       5
1            5       6
2            6       6
3            5       6
4            7       6
5            6       6
6            6       6
7            4       5
8            7       5
9            5       5